<!--
<div class="row">
    <div class="col-md-12">
        {{diagnostic}}
    </div>
</div>
-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>User Registration</h3>
        </div>
    </div>
</div>

<div class="container bg-info">
    <div class="row" *ngIf="submitting">
        <div class="form-group">
            <div class="col-md-1">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
            </div>
            <div class="col-md-6">
                <h4>Submitting form, please wait</h4>
            </div>
        </div>
    </div>
</div>

<div class="container bg-success">
    <div class="row" *ngIf="success">
        <div class="col-md-6">
            <h4>Registration success, redirecting to user listing view</h4>
        </div>
    </div>
</div>

<div *ngIf="submitError" class="container bg-danger">
    <div class="row">
        <div class="col-md-6">
            <h4>Registration failed, please fix the following errors and retry:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ol>
                <li *ngFor="#errorMessage of errorMessages">
                    {{errorMessage}}
                </li>
            </ol>
        </div>
    </div>
</div>

<br/>

<form class="form-horizontal"
      (ngSubmit)="onUserReg()" #userForm="ngForm">

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-6">
            <input id="email"
                class="form-control"
                type="email"
                [(ngModel)]="user.email"
                ngControl="email"
                #email="ngForm"
                minlength="3"
                maxlength="100"
                required>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required, and between 3 to 100 characters
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-6">
            <input id="password"
                class="form-control"
                type="password"
                [(ngModel)]="user.password"
                ngControl="password"
                #password="ngForm"
                minlength="6"
                maxlength="20"
                required>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required, and should have between 6 and 20 alphanumeric characters
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-6">
            <input id="name"
                class="form-control"
                type="text"
                [(ngModel)]="user.name"
                ngControl="name"
                #name="ngForm"
                minlength="2"
                maxlength="100"
                required
                #spy>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required, and should have between 2 and 100 characters
            </div>
        </div>
    </div>  
    
    <div class="form-group">
        <label for="tel" class="col-sm-2 control-label">Telephone:</label>
        <div class="col-sm-3">
            <input id="tel"
                class="form-control"
                type="text"
                max="20"
                [(ngModel)]="user.tel">
        </div>
    </div> 
    
    <div class="form-group">
        <label for="nationality" class="col-sm-2 control-label">Nationality:</label>
        <div class="col-sm-3">
            <select id="nationality"
                    class="form-control"
                    [(ngModel)]="user.nationality">
                <option *ngFor="#n of nationalities"
                        [value]="n">{{n}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid || submitting">Submit</button>
        </div>
    </div>
</form>