<div class="row">
    <div class="col-md-12">
        <h3>Users List</h3>
    </div>
</div>

<div class="container bg-info">
    <div class="row" *ngIf="!usersLoaded">
        <div class="form-group">
            <div class="col-md-1">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
            </div>
            <div class="col-md-6">
                <h4>Loading user list</h4>
            </div>
        </div>
    </div>
</div>

<table *ngIf="usersLoaded" class="table table-striped">
    <tr class="success">
        <th>Email</th>
        <th>Name</th>
        <th>Tel</th>
        <th>Nationality</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="#user of users">
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.nationality}}</td>
        <td><button type="button" class="btn btn-danger" (click)="onReqUserDeletion(user.email)">Request Deletion</button></td>
    </tr>
</table>